﻿@model Publisher
@{ ViewData["Title"] = "Delete a publisher"; }


<div class="row text">
    <div class="col-md-8 offset-2">
        <p>
            <h1>Delete publisher</h1>
        </p>
        <div class="row">
            <div class="col-md-8 offset-2">
                <div class="form-group text-center">
                    <img src="~/images/publishers/@Model.ProfilePictureURL" style="max-width:150px;" id="ProfilePicturePreview" />
                </div>
                <div class="form-group">
                    <label asp-for="ProfilePicture" class="control-lable"></label>
                    <div class="custom-file">
                        <input asp-for="ProfilePictureURL" class="custom-file-input" readonly />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="FullName" class="control-lable"></label>
                    <input asp-for="FullName" class="form-control" readonly />
                </div>
                <div class="form-group">
                    <label asp-for="EmailAddress" class="control-lable"></label>
                    <input asp-for="EmailAddress" class="form-control" readonly />
                </div>
                <div class="form-group">
                    <label asp-for="Address" class="control-lable"></label>
                    <input asp-for="Address" class="form-control" readonly />
                </div>
                <div class="form-group">
                    <a asp-action="Index" class="btn btn-success">Show All</a>
                    <a asp-action="Deleted" asp-route-id="@Model.Id" class="btn btn-outline-info float-right">Delete</a>
                </div>
            </div>
        </div>
    </div>
</div>