﻿@model IEnumerable<Publisher>

@{
    ViewData["Title"] = "List of producers";
}

<div class="row">
    <div class="col-md-12">
        <table class="table">
            <thead>
                <tr class="text-center">
                    <th>@Html.DisplayNameFor(model => model.ProfilePicture)</th>
                    <th>@Html.DisplayNameFor(model => model.FullName)</th>
                    <th>@Html.DisplayNameFor(model => model.EmailAddress)</th>
                    <th>@Html.DisplayNameFor(model => model.Address)</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="align-middle">
                            <img src="~/images/publishers/@item.ProfilePictureURL" alt="@item.FullName" style="max-width:100px" />
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.FullName)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.EmailAddress)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.Address)
                        </td>
                        <td class="align-middle">
                            <div class="form-group">
                                <a class="btn btn-outline-primary float-left" asp-action="Update" asp-route-id="@item.Id"><i class="bi bi-pencil-square">Edit</i></a>
                                <a class="btn btn-outline-info float-left" asp-action="Details" asp-route-id="@item.Id"><i class="bi bi-eye">Details</i></a>
                                <a class="btn btn-danger text-white float-left" asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash">Delete</i></a>
                            </div>

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div style="position:fixed; right:25px; bottom:65px;" class="text-white">
    <a asp-action="Create" class="btn btn-success">
        <i class="bi bi-plus-circle"></i>
        Add New
    </a>
</div>