﻿@model ApplicationUsers
@using eBookDelivery.Data.Enum;

@{ ViewData["Title"] = "Edit a User"; }

<div class="row text">
    <div class="col-md-8 offset-2">
        <p>
            <h1>Add a new Publisher</h1>
        </p>
        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger">
                    </div>
                    <div class="form-group">
                        <label asp-for="FullName" class="control-lable"></label>
                        <input asp-for="FullName" class="form-control" />
                        <span asp-validation-for="FullName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-lable"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="UserName" class="control-lable"></label>
                        <input asp-for="UserName" class="form-control" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="UserName" class="control-lable"></label>
                        <select asp-for="UserName" class="form-control" asp-items="Html.GetEnumSelectList<UserType>()"></select>
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" name="name" value="Edit" class="btn btn-success float-right" />
                        <a asp-action="Users" class="btn btn-success">Show All</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
