﻿@using eBookDelivery.Data.ViewModel
@model RegisterVM
@{
    ViewData["Title"] = "Create user";
}

<div class="row">
    <div class="col-md-6 offset-3">
        <p>
            <h4>
                Sign up for a new account
            </h4>
        </p>
        @if (TempData["Error"] != null)
        {
<div class="col-md-12 alert-danger">
    <span><b>Sorry!</b> - @TempData["Error"]</span>
</div>}
        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="Register">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="FullName" class="control-lable"></label>
                        <input asp-for="FullName" class="form-control" />
                        <span asp-validation-for="FullName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="EmailAddress" class="control-lable"></label>
                        <input asp-for="EmailAddress" class="form-control" />
                        <span asp-validation-for="EmailAddress" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-lable"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ConfirmPassword" class="control-lable"></label>
                        <input asp-for="ConfirmPassword" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Sign up" class="btn btn-outline-success float-right" />
                        <a class="btn btn-outline-secondary float-left" asp-controller="Member" asp-action="Users">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
