﻿<div class="row">
    <div class="col-md-8 offset-2">
        <div class="alert alert-success">
            <h1 class="text-center"><i><b>The account was created sucessfully</b></i></h1><br />
            <span class="text-center"><i>!!Go to login and enter your credential!!!</i></span>

        </div>
        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
        {
            <a class="btn btn-outline-success align-items-center" asp-controller="Member" asp-action="Users">Home</a>
        }
        <a class="btn btn-outline-success align-items-center" asp-controller="Member" asp-action="Login">Login</a>
    </div>
</div>