﻿@model ApplicationUsers
@{ ViewData["Title"] = "Account request user details"; }


<div class="row text">
    <div class="col-md-8 offset-2">
        <div class="alert alert-danger" role="alert">
            <p>
                <h1>Do you want to accept @Model.FullName?</h1>
            </p>
        </div>
        <div class="row">
            <div class="col-md-8 offset-2">
                <div class="form-group">
                    <label asp-for="FullName" class="control-lable"></label>
                    <input asp-for="FullName" class="form-control" readonly />
                    <input asp-for="Id" class="form-control" hidden />
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-lable"></label>
                    <input asp-for="Email" class="form-control" readonly />
                </div>
                <div class="form-group">
                    <label asp-for="UserName" class="control-lable"></label>
                    <input asp-for="UserName" class="form-control" readonly />
                </div>
                <div class="form-group">
                    <a asp-action="UsersRequest" class="btn btn-success">Back</a>
                    <a asp-action="AcceptUsersDetails" asp-route-id="@Model.Id" class="btn btn-success float-right">Accept</a>
                </div>
            </div>
        </div>
    </div>
</div>
