﻿@model IEnumerable<ApplicationUsers>
@using eBookDelivery.Data.Enum

@{
    ViewData["Title"] = "List of Users Request";
}
<div class="row">
    <div class="col-md-10 offset-1 text-center">
        <div class="row">
            <div class="form-group text-center">
                <h3 class="text-center"><i>List of admin request</i></h3>
            </div>
        </div>
        <table class="table">
            <thead>
                <tr class="text-center">
                    <th>@Html.DisplayNameFor(model => model.FullName)</th>
                    <th>@Html.DisplayNameFor(model => model.UserName)</th>
                    <th>@Html.DisplayNameFor(model => model.Email)</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Where(n => n.UserType == UserType.Admin))
                {
                    <tr class="table-success">
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.FullName)

                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.UserName)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td class="align-middle">
                            <a class="btn btn-outline-info" asp-action="RequestUsersDetails" asp-route-id="@item.Id">Details</a>
                        </td>
                    </tr>
                }
            </tbody>

        </table>

    </div>
    <br />
    <br />
    <br />
    <div class="col-md-10 offset-1 text-center">
        <div class="row">
            <div class="form-group text-center">
                <h3 class="text-center"><i>List of user request</i></h3>
            </div>
        </div>
        <table class="table">
            <thead>
                <tr class="text-center">
                    <th>@Html.DisplayNameFor(model => model.FullName)</th>
                    <th>@Html.DisplayNameFor(model => model.UserName)</th>
                    <th>@Html.DisplayNameFor(model => model.Email)</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Where(n => n.UserType == UserType.User))
                {
                    <tr class="table-success">
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.FullName)

                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.UserName)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td class="align-middle">
                            <a class="btn btn-outline-info" asp-action="RequestUsersDetails" asp-route-id="@item.Id">Details</a>
                        </td>
                    </tr>
                }
            </tbody>

        </table>

    </div>
    <br />
    <br />
    <br />
    <div class="col-md-10 offset-1 text-center">
        <div class="row">
            <div class="form-group text-center">
                <h3 class="text-center"><i>List of dilivery user request</i></h3>
            </div>
        </div>
        <table class="table">
            <thead>
                <tr class="text-center">
                    <th>@Html.DisplayNameFor(model => model.FullName)</th>
                    <th>@Html.DisplayNameFor(model => model.UserName)</th>
                    <th>@Html.DisplayNameFor(model => model.Email)</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Where(n => n.UserType == UserType.Delivery))
                {
                    <tr class="table-success">
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.FullName)

                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.UserName)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td class="align-middle">
                            <a class="btn btn-outline-info" asp-action="RequestUsersDetails" asp-route-id="@item.Id">Details</a>
                        </td>
                    </tr>
                }
            </tbody>

        </table>

    </div>
    <br />
    <br />
    <br />
</div>
