﻿@model IEnumerable<ApplicationUsers>
@using eBookDelivery.Data.Enum

@{
    ViewData["Title"] = "List of Users";
}


<div class="row">
    <div class="col-md-10 offset-1 text-center">
        <div class="row">
            <div class="form-group text-center">
                <h3 class="text-center"><i>List of Admin</i></h3>
            </div>
        </div>
        <table class="table">
            <thead>
                <tr class="text-center">
                    <th>@Html.DisplayNameFor(model => model.FullName)</th>
                    <th>@Html.DisplayNameFor(model => model.UserName)</th>
                    <th>@Html.DisplayNameFor(model => model.Email)</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model.Where(n => n.UserType == UserType.Admin))
                {
                    <tr class="table-success">
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.FullName)

                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.UserName)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td class="align-middle">
                            <div class="form-group">
                                <a class="btn btn-outline-info float-left" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                <form class="float-left" asp-action="Delete" asp-route-id="@item.Id" method="post">
                                    <button type="submit" onclick="return(confirm('Are you sure you want to delete?'))" class="btn btn-outline-danger">Delete</button>
                                </form>
                            </div>
                            
                        </td>
                    </tr>
                }
            </tbody>

        </table>

    </div>
    <br />
    <br />
    <br />
    <div class="col-md-10 offset-1 text-center">
        <div class="row">
            <div class="form-group text-center">
                <h3 class="text-center"><i>List of Users</i></h3>
            </div>
        </div>
        <table class="table">
            <thead>
                <tr class="text-center">
                    <th>@Html.DisplayNameFor(model => model.FullName)</th>
                    <th>@Html.DisplayNameFor(model => model.UserName)</th>
                    <th>@Html.DisplayNameFor(model => model.Email)</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Where(n => n.UserType == UserType.User))
                {
                    <tr class="table-success">
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.FullName)

                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.UserName)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td class="align-middle">
                            <div class="form-group">
                                <a class="btn btn-outline-info" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                <form class="float-right" asp-action="Delete" asp-route-id="@item.Id" method="post">
                                    <button type="submit" onclick="return(confirm('Are you sure you want to delete?'))" class="btn btn-outline-danger">Delete</button>
                                </form>
                            </div>
                        </td>
                    </tr>

                }
            </tbody>

        </table>

    </div>
    <br />
    <br />
    <br />
    <div class="col-md-10 offset-1 text-center">
        <div class="row">
            <div class="form-group text-center">
                <h3 class="text-center"><i>List of delivery user</i></h3>
            </div>
        </div>
        <table class="table">
            <thead>
                <tr class="text-center">
                    <th>@Html.DisplayNameFor(model => model.FullName)</th>
                    <th>@Html.DisplayNameFor(model => model.UserName)</th>
                    <th>@Html.DisplayNameFor(model => model.Email)</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Where(n => n.UserType == UserType.Delivery))
                {
                    if (item == null)
                    {
                        <tr class="table-secondary">
                            <td>Na</td>
                            <td>Na</td>
                            <td>Na</td>
                            <td>Na</td>
                        </tr>
                    }
                    <tr class="table-success">
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.FullName)

                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.UserName)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td class="align-middle">
                            <div class="form-group">
                                <a class="btn btn-outline-info" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                <form class="float-right" asp-action="Delete" asp-route-id="@item.Id" method="post">
                                    <button type="submit" onclick="return(confirm('Are you sure you want to delete?'))" class="btn btn-outline-danger">Delete</button>
                                </form>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>

        </table>

    </div>
    <br />
    <br />
    <br />
</div>
