﻿@model Book
@{
    ViewData["Titile"] = "Show book details";
}
<div class="row">
    <div class="col-md-8 offset-2">
        <div class="card mb-12">
            <div class="row g-0">
                <div class="col-md-12">
                    <div class="card-header text-white bg-info">
                        <p class="card-text">
                            <h5 class="card-title">
                                @Model.Name
                            </h5>
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <img src="~/images/books/@Model.BookPictureUrl" width="100%" alt="@Model.Name">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <p class="card-text">
                            <b>Publisher: </b>
                            <a asp-controller="Cinemas" asp-action="Details" asp-route-id="@Model.Publisher">
                                @Model.Publisher.FullName
                            </a>
                        </p>
                        <p class="card-text"><b>Category: </b>@Model.BookCategory</p>
                        <p class="card-text"><b>Category: </b>@Model.Author</p>
                        <p class="card-text">
                            <b>Description: </b>
                            @Model.Description
                        </p>
                        <p class="card-text ">
                            <b>Status: </b>
                            @if (Model.Avilable.ToString().Contains("Avilable"))
                            {
                                <span class="badge bg-success text-white">AVAILABLE</span>
                            }
                            else
                            {
                                <span class="badge bg-danger text-white">Unavilable</span>
                            }
                        </p>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card-footer">
                        <p class="card-text">
                            <a class="btn btn-outline-primary float-right" asp-action="Index">
                                Back to List
                            </a>
                            @if (Model.Avilable.ToString().Contains("Avilable"))
                            {
                                <a class="btn btn-success text-white" asp-controller="Orders" asp-action="AddItemToShoppingCart" asp-route-id="@Model.Id"><i class="bi bi-cart-plus"></i> Add to Cart (Price @Model.Price.ToString("c"))</a>
                            }
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>