﻿@model IEnumerable<Book>

@{
    ViewData["Title"] = "List of books";
}
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-3 col-xs-6 border-primary mb-3">
            <div class="card mb-3" style="max-width:251px;">
                <div class="row g-0">
                    <div class="col-md-12">
                        <a asp-action="Details" asp-route-id="@item.Id">
                            <img src="~/images/books/@item.BookPictureUrl" style="height:300px; width:250px" alt="@item.Name">
                        </a>
                    </div>
                    <div class="col-md-12">
                        <div class="card-body">
                            <p class="card-title">
                                <b>
                                    Name: @item.Name <a class="text-black float-right" asp-action="Update" asp-route-id="@item.Id"><i class="bi bi-plus-circle"></i>Edit</a>
                                </b>
                                <br />
                            </p>
                            <p class="card-text text-black">
                                <b>Author: </b>@item.Author <br />
                                <b>Publisher: </b><a class="text-black" asp-action="Details" asp-controller="Publisher" asp-route-id="@item.Id"> @item.Publisher.FullName</a>
                            </p>
                            <p class="card-text ">
                                <b>Status: </b>
                                @if (item.Avilable.ToString().Contains("Avilable"))
                                {
                                    <span class="badge bg-success text-white">AVAILABLE</span>
                                }
                                else
                                {
                                    <span class="badge bg-danger text-white">Unavilable</span>
                                }
                            </p>
                            <p class="card-text text-black">
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    }
</div>
<div style="position:fixed; right:25px; bottom:65px;" class="text-white">
    <a asp-action="Create" class="btn btn-success">
        <i class="bi bi-plus-circle"></i>
        Add New
    </a>
</div>
