﻿@model Book
@using eBookDelivery.Data.Enum;

@{ ViewData["Title"] = "Update Book"; }
<div class="row">
    <div class="col-md-8 offset-2">
        <p>
            <h4>Create a new Book</h4>
        </p>
        <div class="row">
            <div class="col-md-8 offset-2">
                <form enctype="multipart/form-data" asp-action="Update">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="col-md-6 ">
                            <div class="form-group">
                                <label asp-for="Name" class="control-lable"></label>
                                <input asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Author" class="control-lable"></label>
                                <input asp-for="Author" class="form-control" />
                                <span asp-validation-for="Author" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Price" class="control-lable"></label>
                                <input asp-for="Price" class="form-control" />
                                <span asp-validation-for="Price" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6 ">
                            <div class="form-group">
                                <label asp-for="PublisherId" class="control-lable"></label>
                                <select asp-for="PublisherId" class="form-control" asp-items="ViewBag.Publishers"></select>
                                <span asp-validation-for="PublisherId" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Avilable" class="control-lable"></label>
                                <select asp-for="Avilable" class="form-control" asp-items="Html.GetEnumSelectList<Avilable>()"></select>
                                <span asp-validation-for="Avilable" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="BookCategory" class="control-lable"></label>
                                <select asp-for="BookCategory" class="form-control" asp-items="Html.GetEnumSelectList<BookCategory>()"></select>
                                <span asp-validation-for="BookCategory" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label asp-for="Description" class="control-lable"></label>
                                <textarea asp-for="Description" class="form-control"></textarea>
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="BookPicture" class="control-lable"></label>
                            <div class="custom-file">
                                <input asp-for="BookPicture" class="custom-file-input" id="ProfilePicture" placeholder="asd"
                                       onchange="document.getElementById('PosterImagePreview').src = window.URL.createObjectURL(this.files[0])" />
                                <lable class="custom-file-label" for="Logo">Choose File</lable>
                                <span asp-validation-for="BookPicture" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 offset-4 text-center">
                        <img src="~/images/books/@Model.BookPictureUrl" style="width:100%;" id="PosterImagePreview" />
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Update" class="btn btn-outline-success float-right" />
                        <a class="btn btn-outline-secondary" asp-action="Index">Show All</a>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready



        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });</script>

}
